@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: arial, sans-serif;
}
.clearfix{
    clear: both;
}

/* ---------------------------------------------- */

#main {
    padding: 16px;
    margin-left: 60px;
}


/* ---------------------------------------------- */

.menu1{
    float: left;
    display: block;
}

/* ---------------------------------------------- */

.mySidenav {
    top: 0;
    right: 25px;
    font-size: 30px;
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #858585b8;
    overflow: hidden;
    padding-top: 30px;
    transition: ease-in-out 0.1s;
    border-radius: 3px;
}

.mySidenav a {
    padding: 15px 8px 15px 28px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
}

.icon-a:hover {
    background-color:orange;
}

.box {
    display: none;
}

.cb{
    display: flex;
}
/* ---------------------------------------------- */

.logo1{
    margin: 0px;
    margin-left: 16px;
    margin-top: -8px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
    display: block;
    cursor: pointer;
}

/* ---------------------------------------------- */


.icon-a {
    color: white;
    visibility: hidden;
    height: 25px;
}
.icons {
    visibility: visible;
    margin-left: -8px;
}


/* ---------------------------------------------- */


.constructor{
    display: grid;
    grid-template-columns: 20% 50% 27%;
    grid-template-rows: 65px 15px;
    grid-gap: 20px;
    border-bottom: 1px solid #d6d6d8b8;
}

.item{
    background: #fff;
}

/* ---------------------------------------------- */

.nav{
    font-size: 30px;
    cursor: pointer;
    color: #6c7293;
    margin: 11px 0px;
}

/* ---------------------------------------------- */

.pro-img{
    float: left;
    width: 40px;
    margin-top: 8px;
    margin-left: 20px;
    border-radius: 30px;
}

/* ---------------------------------------------- */

.dots{
    margin-left: 10px;
}

/* ---------------------------------------------- */

.profile-name {
    border: 1px solid #dddddd;
}

.profile {
    display: block;
    float: right ;
    width: 200px;
}

.profile p{
    padding: 10px;
    padding-left: 35px;
    border-radius: 25px;
    margin-left: 35px;
    margin-top: 9px;
    cursor: pointer;
    color: black;
    background-color: white;
    font-weight: 500;
    font-size: 15px;
}

.profile-div{
    background-color: white;
    width: 140px;
    border: 1px solid #ddd;
    padding: 10px 0px;
    right: 2%;
    border-radius: 5px;
    position: absolute;
    z-index: 9;
    display: none;

}

.profile-div p{
    margin: 0px;
    padding: 10px 20px;
}

.profile-div a {
    color: black;
    font-family: arial, sans-serif;
    text-decoration: none;
}
.profile-div:after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    top: -6px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    transform: rotate(45deg);
    right: 10%;
}


.profile-div p:hover{
    margin: 0px;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 0px;
    color: white;
}

/* ---------------------------------------------- */


.hr{
    margin: 0px;
    border: none;
    background-color: #ddd;
    height: 1px;
}

/* ---------------------------------------------- */


.notification-div{
    background-color: white;
    width: 240px;
    border: 1px solid #ddd;
    padding: 10px 0px;
    right: 16%;
    border-radius: 5px;
    top: 12%;
    position: absolute;
    z-index: 9;
    display: none;

}
.notification-div:after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    top: -6px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    transform: rotate(45deg);
    right: 10%;
}
.noti-head{
    display: block;
    margin: 0px;
    color: #6c7293;
}
.noti-head:hover{
    background-color: white!important;
    color: #6c7293!important;
}
.noti-head span{
    position: absolute;
    right: 8%;
    top: 10%;
    background-color: #5643ff;
    padding: 1px 5px;
    color: white;
    border-radius: 20px;
}

.notification-div{
    background-color: white;
    width: 240px;
    border: 1px solid #ddd;
    padding: 10px 0px;
    right: 16%;
    border-radius: 5px;
    top: 12%;
    position: absolute;
    z-index: 9;
    display: none;

}
.notification-div:after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: white;
    top: -6px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    transform: rotate(45deg);
    right: 10%;
}
.notification-div p{
    margin: 0px;
    padding: 10px 20px;
    color: #6c7293;
}
.notification-div p span{
    font-size: 11px;
    display: block;
}

.notification-div p:hover{
    margin: 0px;
    padding: 10px 20px;
    background-color: #5643ff;
    border-radius: 0px;
    color: white;
}

/* ---------------------------------------------- */

.content-box{
    padding: 20px;
    overflow: auto;
}
.content-box p{
    margin: 0px;
    font-size: 20px;

}

.content-box p span{
    float: right;
    font-size: 0px;
    padding-top: 1px;
    margin-bottom: 10px;

}

.content-box .list {
    color: black;

}
/* ---------------------------------------------- */


.col-div-13{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 5px 10px #6c7293;
}

/* ---------------------------------------------- */


table{
    width: 100%;
    border-radius: 10px;
    color: black;
    border-collapse:collapse;
}

table, th, td{
    border-top:1px solid #ccc;
    border-bottom: 1px solid #e5e5e5;

}

thead th {
    background-color: #f2f2f2;
}

td, th {
    text-align: left;
    padding: 10px;
}


table p {
    color: black;
}

/* ---------------------------------------------- */



/* ---------------------------------------------- */


/* Xem trạng thái đơn hàng */
#button-group {
    padding: 10px 0px;
    margin-bottom: 10px;
}

.group-button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    display: inline;
}

.group-button.active {
    color: orange;
    border-bottom:2px solid orange;
}



/* ------------------------------------------------------------- */

/* Giao diện chi tiết hoá đơn */

/* -------------------------------------------------------- */

.detail-return a {
    font-size: 25px;
    text-decoration: none;
    color: #5f5454;
}
/* -------------------------------------------------------- */
.progressbar {
    counter-reset: step;
    padding: 0;
    margin: 35px auto;
    max-width: 800px;
}

.progressbar li {
    display:inline-block;
    list-style: none;
    position: relative;
    text-align: center;
    width: 19%;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    display: block;
    background: #fff;
    color: #bebebe;
    width: 50px;
    height: 50px;
    border: 2px solid #bebebe;
    border-radius: 50%;
    margin: 0 auto 10px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.progressbar li:after {
    background: #979797;
    content: '';
    height: 5px;
    left: -50%;
    top: 25px;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:after,
.progressbar li.complete:after {
    background: #3aac5d;
}

.progressbar li.active:before,
.progressbar li.complete:before {
    background: #3aac5d;
    border-color: #3aac5d;
    color: #fff;
}

.progressbar li.active {
    color: #3aac5d;
    font-weight: 700;
}

/* ------------------------------------------------ */
/* Huỷ đơn hàng */
.detail-cancel-order {
    display: flex;
    justify-content: flex-end;
    margin: 30px 0px 30px 0px;
}

.dt-cancel-order {
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding: 0px 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
}

.dt-cancel-order:hover {
    background: rgb(197, 66, 66);
}
.dt-cancel-order a {
    color: white;
}

/*Xét trường hợp đơn hàng đã huỷ hoặc qua trạng thái chờ*/

.dt-cancel-order1 {
    height: 40px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 15px;
    padding: 0px 30px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
}

.dt-cancel-order1 a {
    color: black;
}
/* ------------------------------------------------ */
/* Địa chỉ giao hàng và thời gian dự kiến */

.detail-time-address {
    height: 150px;
    justify-content: space-between;
    margin: 20px 0px;
}
.detail-time, .detail-address {
    width: 49%;
    height: 100%;
    flex-basis: 50%;
}
.detail-address {
    float: left;
    box-shadow: 5px 5px 10px #6c7293;
    /* background-color: rgb(67, 255, 139); */
}

.detail-time {
    float: right;
    box-shadow: 5px 5px 10px #6c7293;
    /* background-color: rgb(67, 255, 139); */
}


.detail-time-address h2{
    padding-left: 20px;
}
.detail-time-address p {
    padding-left: 20px;

}

.detail-sp {
    opacity: 0.7;
    font-size: 16px;
    padding-left: 20px;
}

.detail-tm {
    font-size: 18px;
    padding-left: 20px;
}

.detail-sp-tm {
    opacity: 0.7;
    font-size: 16px;
    padding-left: 5px;
}




/* -------------------------------------------------------------------- */
/* Thông tin từng đơn hàng */
.detail-orders{
    padding-bottom: 10px;

}

.detail-h3 {
    text-align: right;
}

.detail-order {
    display: flex;
    padding: 10px;
    background-color: rgb(244, 243, 242);
    margin-bottom: 10px;
    align-items: center;
}

.detail-order img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.detail-order h3 {
    margin-top: 0px;
}
.infor-product {
    flex: 1;
    float: left;
}

.price-product {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.price-sale {
    text-decoration: line-through;
    opacity: 0.6;
    font-size: 18px;
    margin-right: 10px;
}

.price-simple {
    opacity: 0.8;
    font-size: 18px;
    margin-right: 10px;
    color: red;
}
/* -------------------------------------------------- */
/* Tổng hoá đơn */

.detail-summary {
    background-color: #f2f2f2;
    padding: 10px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.item-label {
    font-weight: bold;
}

.item-value {
    color: #333;
}

.detail-total {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
}